n8n/workflow.json
{
  "name": "WhatsApp Onboarding Automation (Supabase + Playwright)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 5 } ] } },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2400, 0],
      "id": "10000000-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_lock",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "eq.true" },
            { "name": "or", "value": "=(locked_at.is.null,locked_at.lt.{{ $now.minus({ minutes: 20 }).toISO() }})" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locked_at: $now.toISO(), locked_by: String($execution.id) }) }}",
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2160, 0],
      "id": "10000000-0000-0000-0000-000000000002"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "lock-empty", "leftValue": "={{ $json.body.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ]
        }
      },
      "name": "IF Lock Acquired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1920, 0],
      "id": "10000000-0000-0000-0000-000000000003"
    },
    {
      "parameters": {},
      "name": "End (Lock Busy)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-1680, -150],
      "id": "10000000-0000-0000-0000-000000000004"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id" },
            { "name": "whatsapp_status", "value": "eq.added" },
            { "name": "last_attempt_at", "value": "=gte.{{ $now.startOf('day').toISO() }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer", "value": "count=exact" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "name": "Count Added Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1680, 0],
      "id": "10000000-0000-0000-0000-000000000005"
    },
    {
      "parameters": {
        "jsCode": "const range = ($json.headers && ($json.headers['content-range'] || $json.headers['Content-Range'])) || '*/0';\nconst total = parseInt(String(range).split('/')[1] || '0', 10);\nreturn [{ json: { dailyCount: total } }];"
      },
      "name": "Parse Daily Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1440, 0],
      "id": "10000000-0000-0000-0000-000000000006"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "cap-reached", "leftValue": "={{ $json.dailyCount }}", "rightValue": 70, "operator": { "type": "number", "operation": "gte" } }
          ]
        }
      },
      "name": "IF Cap Reached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1200, 0],
      "id": "10000000-0000-0000-0000-000000000007"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,nom,telephone,group_id,attempt_count" },
            { "name": "or", "value": "=(whatsapp_status.eq.pending,and(whatsapp_status.eq.invited,next_retry_at.lte.{{ $now.toISO() }},attempt_count.lt.2),and(whatsapp_status.eq.processing,last_attempt_at.lt.{{ $now.minus({ minutes: 20 }).toISO() }},attempt_count.lt.2))" },
            { "name": "order", "value": "created_at.asc" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "name": "Select Candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-960, 150],
      "id": "10000000-0000-0000-0000-000000000008"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "no-candidate", "leftValue": "={{ $json.body.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ]
        }
      },
      "name": "IF No Candidate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-720, 150],
      "id": "10000000-0000-0000-0000-000000000009"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Select Candidate').item.json.body[0].id }}" },
            { "name": "whatsapp_status", "value": "in.(pending,invited,processing)" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'processing', attempt_count: $('Select Candidate').item.json.body[0].attempt_count + 1, last_attempt_at: $now.toISO() }) }}",
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "name": "Claim Student",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 150],
      "id": "10000000-0000-0000-0000-00000000000a"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "claim-failed", "leftValue": "={{ $json.body.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ]
        }
      },
      "name": "IF Claim Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-240, 150],
      "id": "10000000-0000-0000-0000-00000000000b"
    },
    {
      "parameters": {
        "jsCode": "const ms = Math.floor(Math.random() * (6 * 60 * 1000 - 3 * 60 * 1000 + 1)) + 3 * 60 * 1000;\nreturn [{ json: { waitMinutes: ms / 60000 } }];"
      },
      "name": "Random Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 150],
      "id": "10000000-0000-0000-0000-00000000000c"
    },
    {
      "parameters": { "amount": "={{ $json.waitMinutes }}", "unit": "minutes" },
      "name": "Wait Random",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [240, 150],
      "id": "10000000-0000-0000-0000-00000000000d",
      "webhookId": "20000000-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLAYWRIGHT_SERVICE_URL }}/add-participant",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ studentId: $('Claim Student').item.json.body[0].id, phone: $('Claim Student').item.json.body[0].telephone, groupId: $('Claim Student').item.json.body[0].group_id, attemptNumber: $('Claim Student').item.json.body[0].attempt_count }) }}",
        "options": {}
      },
      "name": "Attempt Add",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 150],
      "id": "10000000-0000-0000-0000-00000000000e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.result }}",
        "rules": {
          "rules": [
            { "value2": "added", "output": 0 },
            { "value2": "retryable", "output": 1 },
            { "value2": "permanent_fail", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch Route By Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [720, 150],
      "id": "10000000-0000-0000-0000-00000000000f"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "id", "value": "=eq.{{ $('Claim Student').item.json.body[0].id }}" } ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'added', last_error: null, error_code: null, next_retry_at: null }) }}",
        "options": {}
      },
      "name": "Update Added",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -150],
      "id": "10000000-0000-0000-0000-000000000010"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLAYWRIGHT_SERVICE_URL }}/send-invite",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ studentId: $('Claim Student').item.json.body[0].id, phone: $('Claim Student').item.json.body[0].telephone }) }}",
        "options": {}
      },
      "name": "Send Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 50],
      "id": "10000000-0000-0000-0000-000000000011"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "id", "value": "=eq.{{ $('Claim Student').item.json.body[0].id }}" } ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'invited', last_error: $('Attempt Add').item.json.errorMessage, error_code: $('Attempt Add').item.json.errorCode, next_retry_at: ($('Claim Student').item.json.body[0].attempt_count >= 2) ? null : $now.plus({ minutes: 30 }).toISO() }) }}",
        "options": {}
      },
      "name": "Update Invited",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 50],
      "id": "10000000-0000-0000-0000-000000000012"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "id", "value": "=eq.{{ $('Claim Student').item.json.body[0].id }}" } ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'failed', last_error: $('Attempt Add').item.json.errorMessage, error_code: $('Attempt Add').item.json.errorCode, next_retry_at: null }) }}",
        "options": {}
      },
      "name": "Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 350],
      "id": "10000000-0000-0000-0000-000000000013"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "id", "value": "=eq.{{ $('Claim Student').item.json.body[0].id }}" } ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'failed', last_error: 'unexpected response from whatsapp-bot: ' + JSON.stringify($json), error_code: 'UNKNOWN_RESULT', next_retry_at: null }) }}",
        "options": {}
      },
      "name": "Update Unknown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 550],
      "id": "10000000-0000-0000-0000-000000000014"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automation_lock",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "id", "value": "eq.true" } ] },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locked_at: null, locked_by: null }) }}",
        "options": {}
      },
      "name": "Release Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 150],
      "id": "10000000-0000-0000-0000-000000000015"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/students",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "whatsapp_status", "value": "eq.processing" },
            { "name": "last_attempt_at", "value": "=lt.{{ $now.minus({ minutes: 20 }).toISO() }}" },
            { "name": "attempt_count", "value": "gte.2" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_status: 'failed', error_code: 'STUCK_MAX_ATTEMPTS', last_error: 'stuck in processing past max attempts, force-failed by cleanup step', next_retry_at: null }) }}",
        "options": {}
      },
      "name": "Reap Stuck Students",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1920, 150],
      "id": "10000000-0000-0000-0000-000000000016"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PLAYWRIGHT_SERVICE_URL }}/health",
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "name": "Check Bot Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1680, 150],
      "id": "10000000-0000-0000-0000-000000000017"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "bot-healthy", "leftValue": "={{ $json.body.status }}", "rightValue": "ready", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "name": "IF Bot Healthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1440, 150],
      "id": "10000000-0000-0000-0000-000000000018"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Acquire Lock", "type": "main", "index": 0 } ] ] },
    "Acquire Lock": { "main": [ [ { "node": "IF Lock Acquired", "type": "main", "index": 0 } ] ] },
    "IF Lock Acquired": { "main": [ [ { "node": "End (Lock Busy)", "type": "main", "index": 0 } ], [ { "node": "Reap Stuck Students", "type": "main", "index": 0 } ] ] },
    "Reap Stuck Students": { "main": [ [ { "node": "Check Bot Health", "type": "main", "index": 0 } ] ] },
    "Check Bot Health": { "main": [ [ { "node": "IF Bot Healthy", "type": "main", "index": 0 } ] ] },
    "IF Bot Healthy": { "main": [ [ { "node": "Count Added Today", "type": "main", "index": 0 } ], [ { "node": "Release Lock", "type": "main", "index": 0 } ] ] },
    "Count Added Today": { "main": [ [ { "node": "Parse Daily Count", "type": "main", "index": 0 } ] ] },
    "Parse Daily Count": { "main": [ [ { "node": "IF Cap Reached", "type": "main", "index": 0 } ] ] },
    "IF Cap Reached": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ], [ { "node": "Select Candidate", "type": "main", "index": 0 } ] ] },
    "Select Candidate": { "main": [ [ { "node": "IF No Candidate", "type": "main", "index": 0 } ] ] },
    "IF No Candidate": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ], [ { "node": "Claim Student", "type": "main", "index": 0 } ] ] },
    "Claim Student": { "main": [ [ { "node": "IF Claim Failed", "type": "main", "index": 0 } ] ] },
    "IF Claim Failed": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ], [ { "node": "Random Delay", "type": "main", "index": 0 } ] ] },
    "Random Delay": { "main": [ [ { "node": "Wait Random", "type": "main", "index": 0 } ] ] },
    "Wait Random": { "main": [ [ { "node": "Attempt Add", "type": "main", "index": 0 } ] ] },
    "Attempt Add": { "main": [ [ { "node": "Switch Route By Result", "type": "main", "index": 0 } ] ] },
    "Switch Route By Result": {
      "main": [
        [ { "node": "Update Added", "type": "main", "index": 0 } ],
        [ { "node": "Send Invite", "type": "main", "index": 0 } ],
        [ { "node": "Update Failed", "type": "main", "index": 0 } ],
        [ { "node": "Update Unknown", "type": "main", "index": 0 } ]
      ]
    },
    "Update Added": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ] ] },
    "Send Invite": { "main": [ [ { "node": "Update Invited", "type": "main", "index": 0 } ] ] },
    "Update Invited": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ] ] },
    "Update Failed": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ] ] },
    "Update Unknown": { "main": [ [ { "node": "Release Lock", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
